a {
	text-decoration: none;
}

div#Header {
	background: rgba(17, 17, 17, 0.69);
	width: 100%;
	height: 80px;
	min-height: 80px;
	transition: all 700ms;
	box-shadow: 2px 2px 2px #000000;
}
html {
	margin: 0;
	font-family: Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	color: white;
}

#bwrap {
	margin: 0 auto;
	background: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
}
.hide {
	display: none !important;
}
div#Container-Wrapper {
	margin: 0 auto;
	padding: 5px;
	pointer-events: all;
	flex: 1;
	display: flex;
}
div#Title-Wrapper {
	font: 12px Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
	position: absolute;
	top: 12px;
	left: 90px;
	color: white;
	z-index: 99999;
}
.clear {
	clear: both;
}

div#SubTitle {
	/* float: left; */
	margin-left: 15px;
	font-size: 20px;
}
div#Title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 25px;
	font-weight: bold;
}
div#MiddleHeader {
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 10px;
	width: 50%;
	height: 60px;
	display: table;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
}

div#MiddleHeader .team1, div#MiddleHeader .team2 {
	width: 50%;
	height: inherit;
	display: table-cell;
	vertical-align: middle;
}

div#MiddleHeader .team1 img {
	float: right;
	height: 100%;
	max-width: 100%;
	padding: 0px 5px 0px 5px
}
div#MiddleHeader .team2 img {
	float: left;
	height: 100%;
	max-width: 100%;
	padding: 0px 5px 0px 5px
}

div#MiddleHeader .team1 {
	text-align: right;
}

div#MiddleHeader .team2 {
}
div#Container {
	margin-top: 25px;
}
div#Assets-container {
	width: 100%;
	display: table;
}
.asset-team {
	width: 50%;
	height: 100%;
	float: left;
}
.asset-pane {
	display: table;
	width: 200%;
	position: relative;
	transition: all 300ms;
	left: 0;
}
@media (min-width: 800px) {
	.asset-pane {
		width: 100%;
		position: initial;
	}
}
div#Assets-header {
	display: table;
	width: 100%;
}
.team-header {
	width: 50%;
	float: left;
	z-index: 1;
	position: relative;
	height: 25px;
	background-color: rgba(68, 68, 68, 0.8);
}
.name {
	text-align: center;
	float: left;
	color: white;
	padding: 5px;
}
.flag {
	margin: 6px 0;
	background: white;
	float: left;
}
.team-header.teamA {
	border-bottom: solid 5px rgba(0, 0, 0,0);
}
.team-header.teamB {
	border-bottom: solid 5px rgba(0, 0, 0,0);
}
.team-header.teamA.selected, .team-header.teamA:hover {
	border-bottom: solid 5px rgb(51, 153, 204);
}
.team-header.teamB.selected, .team-header.teamB:hover {
	border-bottom: solid 5px #D93C3C;
}
.team-header:hover {
	cursor: pointer;
}
@media (min-width: 800px) {
	.team-header.teamA {
		border-bottom: solid 5px rgb(51, 153, 204);
	}
	.team-header:hover {
		cursor: auto;
	}
	.team-header.teamB {
		border-bottom: solid 5px #D93C3C;
	}
}
/* ====================================================================
 * ==============             menu-button          ====================
 * ====================================================================
 */
.buttons {
	position: absolute;
	left: 25px;
	height: 80px;
	width: 50px;
}
#Menu-button {
	width: 50px;
	height: 20px;
	display: table;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	margin-top: 12px;
	position: absolute;
}
#Map-button {
	width: 50px;
	height: 20px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	margin-top: 12px;
	position: absolute;
	top: 30px;
	text-align: center;
}
#Menu-button-layer-wrapper {
	margin: 0 auto;
	display: table;
	width: 60%;
}
.menu-button-layer {
	position: relative;
	transition: all 300ms ease-out;
	width: 100%;
	height: 3px;
	background: #39c;
	display: table;
	margin: 4px 0 4px 0;
	top: 0;
	left: 0;
}
#Menu-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(1) {
	transform-origin: 50% 272%;
	transform: rotate(-135deg);
	width: 50%
}
#Menu-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(2) {
	transform: rotate(-180deg);
	width: 70%
}
#Menu-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(3) {
	transform-origin: 50% -168%;
	transform: rotate(-225deg);
	width: 50%
}
/* ====================================================================
 * ==============              Right Pane          ====================
 * ====================================================================
 */
div#RightPane {
	transition: width 300ms;
	/*margin-right: -300px;*/
	width: 0px;
	background: #444;
	pointer-events: all;
	overflow-y: hidden;
	overflow-x: hidden;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
}
#RightPane.open {
	width: 300px;
}

#RPane-team-buttons {
	cursor: default;
	display: table;
	width: 100%;
}

#RPane-team1-button, #RPane-team2-button {
	transition: background-color 0.5s ease;
	text-align: center;
	vertical-align: middle;
	background-color: #111;
	display: table-cell;
	height: 50px;
	width: 50%;
}

#RPane-team1-button:hover, #RPane-team2-button:hover {
	background-color: #666;
}
#RPane-team1-button.active, #RPane-team2-button.active {
	background-color: #666;
	font-weight: bold;
}

#RPane-content {
	flex: 1;
	overflow-y: auto;
}

/* ====================================================================
 * ==============              Navigation          ====================
 * ====================================================================
 */

#Body-Wrapper {
	pointer-events: none;
	display: flex;
	flex: 1;
}
#Nav.open-menu {
	margin-left: 0px;
}
div#Nav {
	transition: margin-left 300ms;
	margin-left: -200px;
	background: #444;
	width: 200px;
	pointer-events: all;
}
#Nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#Nav li {
	padding: 20px 40px;
	border-bottom: solid 1px rgb(51, 153, 204);
	color: #e0e0e0;
	font-size: larger;
}
#Nav li:hover {
	background: rgb(40, 40, 40);
	cursor: pointer;
}
div#Back {
	float: left;
	width: 50px;
	height: 39px;
	background-image: url(../img/resources/arrow_left.png);
	background-position: center;
	background-size: contain;
	position: relative;
	top: -4px;
}
/* ====================================================================
 * ==============              Search          ====================
 * ====================================================================
 */

div#RightMenu {
	position: absolute;
	top: 5px;
	right: 25px;
	min-width: 300px;
	min-height: 70px;
}

div#RightMenu .button {
	width: 100px;
	height: 70px;
	float: right;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.5s ease;
	overflow: hidden;
	margin: 0 2.5px;
}

div#Assets-button {
	background-image: url(../icons/ui/assets.png);
}

div#RightMenu .button:hover {
	/*background-color: grey;*/
}
div#RightMenu .button.open {
	background-color: grey;
}
div#SubTitle.gmselector {
	/*background: #39c;*/
	border-radius: 5px;
	padding: 5px;
}
div#SubTitle.gmselector.expanded {
	background: #444;
	color: white;
	min-height: 70px;
	min-width: 100px;
	height: auto;
	width: auto;
}
div#SubTitle.gmselector.expanded #SubTitle-list {
	overflow-y: auto
}
div#SubTitle.gmselector.expanded .gmselection {
	border-radius: 3px;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	background-color: #ccc;
	color: black;
	min-width: 100px;
}
div#SubTitle.gmselector.expanded .gmselection:hover {
	background-color: #fff;
}
div#SubTitle.gmselector.expanded .gmselection.open {
	background-color: #fff;
}

div#AAS-button {
	background-image: url(../icons/ui/gm.png);
}
div#AAS-button.expanded {
	cursor: pointer;
	background: #444;
	color: white;
	border-radius: 5px;
	min-height: 70px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	min-width: 100px;
	width: auto;
	height: auto;
}
div#AAS-button.expanded .AASselection {
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	background-color: #ccc;
	color: black;
	min-width: 100px;
}
div#AAS-button.expanded .AASselection:hover {
	background-color: #fff;
}
div#AAS-button.expanded .AASselection.open {
	background-color: #fff;
}

.notextselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#RightPane-button {
	float: left;
	width: 50px;
	height: 20px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	margin-top: 12px;
	position: absolute;
	top: 20px;
	right: 20px;
	top: 30px;
	text-align: center;
}
#RightPane-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(1) {
	transform-origin: 60% 305%;
	transform: rotate(135deg);
	width: 50%
}
#RightPane-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(2) {
	transform: rotate(180deg);
	width: 70%
}
#RightPane-button.open #Menu-button-layer-wrapper .menu-button-layer:nth-child(3) {
	transform-origin: 60% -195%;
	transform: rotate(225deg);
	width: 50%
}

div#Search {
	height: 20px;
	line-height: 70px;
}

#Search input[type="text"] {
	background-color: transparent;
	border: 0;
	padding: 0;
	border-bottom: solid 1px #3399CC;
	outline: 0;
	color: white;
	height: 100%;
}
#Search img {
	height: 100%;
	margin: 0 5px;
}